<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cincodenada.thingtracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light" >
        <activity
            android:name=".AddThing"
            android:label="@string/title_activity_add_happening" >
        </activity>
        <activity
            android:name=".AddHappening"
            android:label="@string/title_activity_add_happening" >
        </activity>
        <activity
            android:name=".ViewHappenings"
            android:label="@string/title_activity_view_happenings" >
        </activity>
        <activity
            android:name=".EditThing"
            android:label="@string/title_activity_edit_thing"
            android:parentActivityName=".AddThing" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cincodenada.thingtracker.AddThing" />
        </activity>
        <activity
            android:name=".WearAdd"
            android:label="@string/title_activity_wear_add" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
